<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
      <add name="ConnStringLocal" connectionString="Server=localhost;Database=tp2_net;Integrated Security=true;"
          providerName="System.Data.SqlClient" />
      <add name="UI.Desktop.Properties.Settings.tp2_netConnectionString"
          connectionString="Data Source=localhost;Initial Catalog=tp2_net;Integrated Security=True"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
</configuration>